<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/project_db</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="show_sql">true</property>
        <mapping class="entity.UserLogin"/>
        <mapping resource="entity/UserLogin.hbm.xml"/>
        <mapping class="entity.UserInfo"/>
        <mapping resource="entity/UserInfo.hbm.xml"/>
        <mapping class="entity.History"/>
        <mapping resource="entity/History.hbm.xml"/>
        <mapping class="entity.Fails"/>
        <mapping resource="entity/Fails.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>